<%= form_for(@chamado) do |f| %>
  <% if @chamado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chamado.errors.count, "error") %> prohibited this chamado from being saved:</h2>

      <ul>
      <% @chamado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idsolicitante %><br />
    <%= f.number_field :idsolicitante %>
  </div>
  <div class="field">
    <%= f.label :idproduto %><br />
    <%= f.number_field :idproduto %>
  </div>
  <div class="field">
    <%= f.label :idpedido %><br />
    <%= f.number_field :idpedido %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :tipochamado %><br />
    <%= f.select :tipochamado, Chamado::CHAMADO_OPTIONS %>
  </div>
  <div class="field">
    <%= f.hidden_field :status, :value => 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
